body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

.app {
  padding: 20px;
}

button {
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
  background: #22c55e;
  color: white;
  font-size: 18px;
}
